@page "/POS"

<div class="pos-main">
    <ClearPopup/>
    <PayPopup/>
    <div class="pos-top">
        <Cart/>
        <SalesItemCollection/>
        <Keypad/>
    </div>
    <div class="pos-bottom">
        <CartTotal/>
        <SalesButtons/>
    </div>
</div>

@code {
    
}