@page "/POS"
@using Innkeep.Client.Services.Interfaces.Pretix
@using Innkeep.Client.Services.Interfaces.Hardware
@inject IClientPretixService ClientPretixService;
@inject NavigationManager NavigationManager
@inject INetworkHardwareService NetworkHardwareService
@inject ISnackbar Snackbar

<div class="pos-main">
    <div class="pin-top">
        @NetworkHardwareService.MacAddress
    </div>
    <PrintPopup/>
    <ClearPopup/>
    <PayPopup/>
    <div class="pos-top">
        <Cart/>
        <SalesItemCollection/>
        <Keypad/>
    </div>
    <div class="pos-bottom">
        <CartTotal/>
        <SalesButtons/>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ClientPretixService.Reload();
            await base.OnInitializedAsync();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            NavigationManager.NavigateTo("/config");
            Snackbar.Add("Register is not connected to the Server. Please Connect First.", Severity.Error);
        }
        
    }

}