.pos-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pos-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
}

.pos-bottom{
    display: Flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}

.pin-top{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.testmode-overlay{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}