@using Innkeep.Client.WebUi.Pages.POS.Components
@using Innkeep.Client.Interfaces.Services
@inject IShoppingCartService ShoppingCartService
@inject IPopupService PopupService

<div class="button-group">
    <div class="button no-select pay drop2" @onclick="Pay">
        <div class="button-text">
            PAY
        </div>
    </div>
    <div class="button no-select clear drop2" @onclick="Clear">
        <div class="button-text">
            CLEAR
        </div>
    </div>
    <div class="button no-select print drop2" @onclick="Print">
        <div class="button-text">
            PRINT
        </div>
    </div>
</div>

@code {
    private void Pay()
    {
        if (ShoppingCartService.Cart.Any())
            PopupService.Show(nameof(PayPopup));
    }
    
    private void Clear()
    {
        if (ShoppingCartService.Cart.Any())
            PopupService.Show(nameof(ClearPopup));
    }
    

    private void Print()
    {
        
    }
}