@page "/Reports/CashFlows"
@using Innkeep.Server.Data.Models
@using Innkeep.Server.Data.Interfaces.Transactions
@using Innkeep.Server.Services.Interfaces.Db
@using Innkeep.Server.Data.Interfaces.Register
@inject ICashFlowRepository CashFlowRepository
@inject IRegisterRepository RegisterRepository
@inject IApplicationSettingsService ApplicationSettingsService

<div class="d-flex flex-column gap-4">
    <h3>CashFlows</h3>
    <MudSelect @bind-Value="SelectedRegister" Label="Select a Register">
        @foreach (var register in Registers)
        {
            <MudSelectItem Value="register">@register.DeviceId</MudSelectItem>
        }
    </MudSelect>

    <MudDataGrid T="CashFlow" Items="@FilteredItems">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Id"/>
            <PropertyColumn Property="x => x.Register.DeviceId" Title="Device Id"/>
            <PropertyColumn Property="x => x.Register.RegisterName" Title="Device Name"/>
            <PropertyColumn Property="x => x.TimeStamp" Format="dd.MM.yyyy hh:MM:ss" Title="Timestamp"/>
            <PropertyColumn Property="x => x.MoneyAdded" Title="Money Added"/>
            <PropertyColumn Property="x => x.MoneyRemoved" Title="Money Removed"/>
            <PropertyColumn Property="x => x.TotalMoney" Title="Total Change"/>
        </Columns>
    </MudDataGrid>
</div>

@code {
    private Register _selectedRegister;

    private IEnumerable<CashFlow> Items { get; set; }
    
    private IEnumerable<Register> Registers { get; set; }

    private Register SelectedRegister
    {
        get => _selectedRegister;
        set
        {
            _selectedRegister = value;
            FilteredItems = Items.Where(x => x.Register.DeviceId == value.DeviceId).ToList();
        }
    }

    private IEnumerable<CashFlow> FilteredItems { get; set; }

    protected override void OnInitialized()
    {
        Items = CashFlowRepository
            .GetAllCustom(x => x.Event.Slug == ApplicationSettingsService.ActiveSetting.SelectedEvent.Slug);

        Registers = RegisterRepository.GetAll();
        
        base.OnInitialized();
    }
    

}