@page "/Reports/Transactions"
@using Innkeep.Server.Data.Interfaces.Transactions
@using Innkeep.Server.Data.Models
@using Innkeep.Server.Services.Interfaces.Db
@using Innkeep.Models.Transaction
@using Serilog
@inject IApplicationSettingsService ApplicationSettingsService
@inject ITransactionRepository TransactionRepository

<h3>Transactions</h3>

<MudDataGrid T="Transaction" Items="@Items">
    <Columns>
        <HierarchyColumn T="Transaction" />
        <PropertyColumn Property="x => x.Id"/>
        <PropertyColumn Property="x => x.TimeStamp"/>
        <PropertyColumn Property="x => x.TransactionId"/>
    </Columns>
    <ChildRowContent>
        <MudCard>
            <MudCardContent>
                <MudTextField
                    T="string"
                    Variant="Variant.Text"
                    Lines="@PretixTransaction.GetLines(context.Item.Items)"
                    Text="@GetTransaction(context.Item.Items)"/>
                
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="Transaction" />
    </PagerContent>
</MudDataGrid>

@code {

    private IEnumerable<Transaction> Items { get; set; }

    protected override void OnInitialized()
    {
        Items = TransactionRepository
            .GetAllCustom(x => x.Event.Slug == ApplicationSettingsService.ActiveSetting.SelectedEvent.Slug);
        base.OnInitialized();
    }

    private string GetTransaction(string items)
    {
        var item = PretixTransaction.DeserializeTransaction(items).ToString().Trim();
        Log.Debug(item);
        return item;
    }

}