@using Innkeep.Core.Interfaces.Services
@using Innkeep.Client.WebUi.Pages.Base;
@using Innkeep.Client.Interfaces.Services
@inherits PopupComponentBase
@inject IShoppingCartService ShoppingCartService
@inject IPopupService PopupService;

<div class="fill-screen on-top blurred center drop2" style="@VisibilityClass">
    <div class="popup-group">
        <div class="popup-title">
            Really Clear?
        </div>
        <div class="popup-buttons">
            <div class="button yes drop2 no-select" @onclick="Confirm">
                Yes
            </div>
             <div class="button no drop2 no-select" @onclick="Cancel">
                No
            </div>
        </div>
    </div>
</div>

@code {

    private string Name => nameof(ClearPopup);

    protected override void OnInitialized()
    {
        ConfirmAction = () => ShoppingCartService.Clear();
        PopupService.PopupChanged += PopupChangedEvent;
    }
    
    private void PopupChangedEvent(object? sender, EventArgs e)
    {
        if (sender is not string propertyName) return;
        if (propertyName != Name) return;

        Show();
    }
}