.button{
    width: 110px;
    height: 110px;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background: var(--button);
}

.button-large{
    width: calc(220px + 0.5rem);
    height: 110px;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background: var(--button);
}

.invisible{
    color: transparent !important;
    background: transparent !important;
    border: none;
}

.text{
    font-weight: bold;
    font-size: 1.5rem;
}