@using Innkeep.Client.Interfaces.Services
@using Innkeep.Client.Services.Interfaces.Ui
@inject IAmountKeypadService AmountKeypadService

<div class="@Class no-select h1" @onclick="AddValue">
    <div class="text">
        @Value
    </div>
</div>

@code {
    
    [Parameter]
    public string Value { get; set; }
    
    [Parameter]
    public Action<string>? CommitAction { get; set; }

    public string Class
    {
        get
        {
            var value = Value switch
            {
                "0" => "button-large",
                "" => "button invisible",
                _ => "button"
                };

            return value;
        }
    }

    private void AddValue()
    {
        if (CommitAction != null)
        {
            if (!string.IsNullOrEmpty(Value)) CommitAction.Invoke(Value);
            return;
        }
        
        if (!string.IsNullOrEmpty(Value))
            AmountKeypadService.SetAmount(Value);
    }

}