@using Innkeep.Client.Interfaces.Services
@using Innkeep.Client.Services.Interfaces.Pretix
@using Innkeep.Client.Services.Interfaces.Transaction
@inject ITransactionService TransactionService;
@inject IClientPretixService ClientPretixService;

<div class="sales-item no-select" @onclick="AddToTransaction">
    <div class="sales-image-wrapper">
        <img class="sales-image drop2" src="@Src"/>
    </div>
    <div class="sales-item-spacer"></div>
    <div class="sales-price-wrapper">
        <div class="sales-price">
            @Amount&nbsp;@ClientPretixService.SelectedEvent?.Currency
        </div>
    </div>
    
</div>

@code {
    
    [Parameter]
    public decimal Amount { get; set; }

    private string Src => $"img/money/{Amount}{ClientPretixService.SelectedEvent?.Currency}.png";

    private void AddToTransaction()
    {
        TransactionService.UpdateGivenAmount(Amount);
    }
    
}