.sales-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid var(--page-background);
    flex:1;
}

.sales-item-title{
    flex: 1 1 auto;
    padding: 0.5rem;
    overflow: hidden;
    width: 200px;
}

.sales-item-spacer{
    height: 60%;
    border-right: 2px solid var(--borders);
    margin-right: 1rem;
}

.sales-price{
    color: var(--primary-color);
    font-weight: bold;
    width: 20%;
    display: flex;
    flex-direction: column;
}