.sales-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borders);
    border-radius: var(--radius);
    width: 180px;
    height: 100px;
}

.sales-item-title{
    flex: 1 1 auto;
    padding: 0.25rem;
    overflow: hidden;
    width: 100%;
}

.sales-price{
    color: var(--primary-color);
    font-weight: bold;
    width: 100%;
    border-top: 1px solid var(--borders);
    padding: 0.25rem;
}