@using Innkeep.Core.Interfaces.Services
@using Innkeep.Client.Interfaces.Services
@using Innkeep.Data.Pretix.Models
@using Microsoft.AspNetCore.Hosting.Server
@inject IShoppingCartService ShoppingCartService;
@inject IAmountKeypadService AmountKeypadService;
@inject IServerConnectionService ServerConnectionService;

<div class="sales-item no-select" @onclick="AddToCart">
    <div class="sales-item-title">
        @Item.Name
    </div>
    <div class="sales-item-spacer"></div>
    <div class="sales-price">
        <div>
            @Item.DefaultPrice
        </div>
        <div>
            @ServerConnectionService.CurrentEvent?.Currency
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public PretixSalesItem Item { get; set; }

    public void AddToCart()
    {
        ShoppingCartService.Add(Item);
        AmountKeypadService.ClearAmount();
    }
    
}