@using Microsoft.AspNetCore.Hosting.Server
@using Innkeep.Api.Pretix.Models.Objects
@using Innkeep.Client.Services.Interfaces.Pretix
@using Innkeep.Client.Services.Interfaces.Transaction
@using Innkeep.Client.Services.Interfaces.Ui
@inject IShoppingCartService ShoppingCartService;
@inject IAmountKeypadService AmountKeypadService;
@inject IClientPretixService ClientPretixService;

<div class="sales-item no-select" @onclick="AddToCart">
    <div class="sales-item-title">
        @Item.Name
    </div>
    <div class="sales-item-spacer"></div>
    <div class="sales-price">
        <div>
            @Item.DefaultPrice
        </div>
        <div>
            @ClientPretixService.SelectedEvent?.Currency
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public required PretixSalesItem Item { get; set; }

    public void AddToCart()
    {
        ShoppingCartService.Add(Item);
        AmountKeypadService.ClearAmount();
    }
    
}