@inherits LayoutComponentBase

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider IsDarkMode="true"/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Innkeep Server</MudText>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="d-flex">
        <MudPaper Elevation="0" Class="vh-100 vw-100 mw-100 mh-100 overflow-hidden" Square="true">
            <div class="h-100 w-100 mw-100 mh-100 d-flex flex-column overflow-hidden">
                <div class="p-3 h-100 w-100 mw-100 mh-100 overflow-scroll">
                    @Body
                </div>
            </div>
        </MudPaper>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}