client.db*
server.db*

**/bin/*

**/obj/*

**/release/*

**/temp/*
code/Innkeep/Innkeep.Client.WebUi/config.json

code/Innkeep/Innkeep.Client.WebUi/esc_pos.temp

**/TestAuth.cs

*.db-shm

*.db-wal
build/_build.csproj.DotSettings
