# ignore all idea files
**/.idea/**
build/_build.csproj.DotSettings

# ignore all build directories
**/bin/*
**/obj/*
**/release/*
**/temp/*

# ignore all local database files
client.db*
server.db*
*.db-shm
*.db-wal
code/Innkeep/Innkeep.Server/db/transactions/

# ignore certificate and log files
**/cert/**
**/log/**

# ignore environment variables
*.env

# gitignore for osx
.DS_Store
*.sqlite-shm

*.sqlite-wal
