@page "/"
@using Innkeep.Services.Interfaces.Internal

@inject IStartupService StartupService

<h1>Welcome</h1>

@code{

    protected override async Task OnInitializedAsync()
    {
        await StartupService.OnStartup();
    }

}