@page "/Config"
@using Innkeep.Client.Interfaces.Services
@inject IClientSettingsService ClientSettingsService

<div>
    <MudGrid></MudGrid>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    
}