:root{
    --primary-color: #2E6171;
    --secondary-color: #D90368;
    --confirm-color: #4CD9C0;
    --error-color: #FF8989;
    --tertiary-color: #7191a8;
    --background-color: #fff;
    --page-background: #EFEFEF;
    --text: #32322C;
    --borders: #dfdfdf;
    --button: #aaa;
    --gradient: linear-gradient(to left, var(--primary-color), var(--secondary-color));
    --radius: 5px;
    --title-color-dark: #526E82;
}

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--page-background);
}

.main{
    width: 100vw;
    height: 100vh;
}

.main-page{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug{
    border: 1px solid red;
}

a, a:hover {
    text-decoration: none;
    color: var(--text);
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.drop2{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
}

.fill-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.on-top{
    z-index: 1000;
}

.blurred{
    backdrop-filter: blur(15px);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}