@page "/"
@using Innkeep.Client.Interfaces.Services
@inject IClientServerConnectionService ConnectionService
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/config">Go To Config</a>

<SurveyPrompt Title="How is Blazor working for you?"/>


@code{

    protected override async Task OnInitializedAsync()
    {
        var connected = await ConnectionService.RegisterToServer();
        if (!connected) Navigation.NavigateTo("/config");
        await base.OnInitializedAsync();
    }

}