@using Innkeep.Styles.Theme
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="false" Theme="_theme"/>
<MudPopoverProvider />

<MudDialogProvider BackdropClick="false" CloseOnEscapeKey="false" Position="DialogPosition.Center"/>
<MudSnackbarProvider/>


<MudLayout>
    <MudPaper Elevation="0" Class="vh-100 vw-100 mw-100 mh-100 overflow-hidden" Square="true">
        <div class="h-100 w-100 mw-100 mh-100 d-flex flex-column overflow-hidden">
            <div class="p-3 h-100 w-100 mw-100 mh-100 overflow-hidden d-flex">
                @Body
            </div>
        </div>
    </MudPaper>
</MudLayout>

@code{

    private readonly MudTheme _theme = InnkeepThemeProvider.GetTheme();

}