@page "/Scan"
<h3>Scan</h3>

<MudButton @onclick="Beep">
    BEEP
</MudButton>

@code {

    private int _space = 10;
    
    private void Beep()
    {
        var c = 523;
        var af = 415;
        var bf = 466;
        
        var tripE = 153;
        var quart = 462;
        var halfD = 1384;
        
        Beep(c, tripE);
        Beep(c, tripE);
        Beep(c, tripE);
        Beep(c, quart);
        
        Beep(af, quart);
        Beep(bf, quart);
        
        Beep(c, tripE);
        Thread.Sleep(tripE);
        Beep(bf, tripE);
        
        Beep(c, halfD);
    }

    private void Beep(int freq, int duration)
    {
        Console.Beep(freq, duration - _space);
        Thread.Sleep(_space);
    }
    
}