@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>Innkeep Client</PageTitle>

<MudLayout>
    <div class="main">
        <div class="main-page">
            <NavBar/>
            <div class="content">
                @Body
            </div>
        </div>
    </div>
</MudLayout>