.navbar{
    height: 60px;
    width: 100%;
    background-color: var(--background-color);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-image-source: var(--gradient);
    border-image-slice: 1;
}

.navbar-group{
    display: flex;
    align-items: center;
    height: 100%;
}

::deep .navbar-button{
    width: 10vw;
    border: 1px solid var(--borders);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button-text{
    font-weight: bold;
}

::deep .navbar-active{
    border-bottom: 2px solid white !important;
    margin-bottom: 0 !important;
    margin-top: 11px !important;
    padding-bottom: 7px;
}
