<div class="navbar">
    <div class="navbar-group gap-4">
        <NavLink href="POS" ActiveClass="navbar-active" class="navbar-button" Match="NavLinkMatch.All">
            <div class="navbar-button-text">
                <span class="oi oi-plus" aria-hidden="true"></span> POS
            </div>
        </NavLink>
        <NavLink href="Scan" ActiveClass="navbar-active" class="navbar-button" Match="NavLinkMatch.All">
            <div class="navbar-button-text">
                <span class="oi oi-plus" aria-hidden="true"></span> Scan
            </div>
        </NavLink>
        <NavLink href="Print" ActiveClass="navbar-active" class="navbar-button" Match="NavLinkMatch.All">
            <div class="navbar-button-text">
                <span class="oi oi-plus" aria-hidden="true"></span> Print
            </div>
        </NavLink>
        <NavLink href="Config" ActiveClass="navbar-active" class="navbar-button" Match="NavLinkMatch.All">
            <div class="navbar-button-text">
                <span class="oi oi-plus" aria-hidden="true"></span> Config
            </div>
        </NavLink>
    </div>
</div>

@code {

    public bool IsActive(string href)
    {
        return true;
    }
    
}