.flash{
    animation: flash 1s infinite;
    background: greenyellow;
}

@keyframes flash{
    0%{
        background: greenyellow;
    }
    50%{
        background: green;
    }
    100%{
        background: greenyellow;
    }
}