.cart-wrapper{
    display: flex;
    min-width: 33%;
    max-width: 33%;
    height: 100%;
    flex-direction: column;
    margin-right: 1rem;
}

.cart{
    width: 100%;
    flex: 1 1 auto;
    background: var(--background-color);
}

.cart-title{
    background: var(--title-color-dark);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--background-color);
}

.item-spacer{
    height: 60%;
    border-right: 2px solid var(--borders);
    margin: 0 0.4rem;
}

.item-row{
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    border-bottom: 2px solid var(--page-background);
}

.item-count{
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-info{
    display: flex;
    width: calc(100% - 14% - 20%);
}

.item-highlight{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25rem;
}

.price-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19%;
    font-weight: bold;
}