@using Innkeep.Core.Interfaces.Services
@using System.Collections.ObjectModel
@using Innkeep.Client.Interfaces.Services
@using Innkeep.Server.Interfaces.Services
@using RestSharp

@inject IShoppingCartService ShoppingCartService
@inject IServerConnectionService ServerConnectionService

<div class="cart-wrapper drop2">
   <div class="cart-title">
      Cart
   </div>
   <div class="cart">
      @foreach (var item in ShoppingCartService.Cart)
      {
         <div class="item-row">
            <div class="item-count">
               <div class="item-highlight">@item.Count</div>
               <div class="item-highlight">x&nbsp;</div>
            </div>
            <div class="item-spacer"></div>
            <div class="item-info">
               @item.Item.Name.German
            </div>
            <div class="item-spacer"></div>
            <div class="price-info">
               <div>@item.Price</div>
               <div>@ServerConnectionService.CurrentEvent?.Currency</div>
            </div>
         </div>
      }
   </div>
</div>


@code {

   protected override void OnInitialized()
   {
      ShoppingCartService.CartUpdated += StateChangedEvent;
   }

   private void StateChangedEvent(object? sender, EventArgs e)
   {
      _ = InvokeAsync(StateHasChanged);
   }

}