.cart-wrapper{
    display: flex;
    min-width: 33%;
    max-width: 33%;
    height: 100%;
    flex-direction: column;
    margin-right: 1rem;
}

.cart{
    width: 100%;
    flex: 1 1 auto;
    border: 1px solid var(--borders);
    border-radius: var(--radius);
}

.cart-title{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid;
    border-image-source: var(--gradient);
    border-image-slice: 1;
    margin-bottom: 0.5rem;
}

.card-buttons{
    
}

.item-data{
    display: flex;
}

.item-row{
    display: flex;
    padding: 0.5rem;
    width: 100%;
    justify-content: space-between;
}

.item-count{
    min-width: 33px;
    display: flex;
    justify-content: flex-end;
}

.item-info{
    display: flex;
}

.item-highlight{
    color: var(--primary-color);
    font-weight: bold;
}

.price-info{
    display:flex;
}