@using Innkeep.Client.WebUi.Pages.POS.Components
@using Innkeep.Client.Services.Interfaces.Pretix
@inject IClientPretixService ClientPretixService;


<div class="sales-wrapper drop2">
    <div class="sales-title">
        Items
    </div>
    <div class="sales">
        @foreach (var item in ClientPretixService.SalesItems.Where(x => x.SalesChannels.Contains("pretixpos")))
        {
            <SalesItemButton Item="@item"/>
        }
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        ClientPretixService.ItemUpdated += StateChangedEvent;
    }

    private void StateChangedEvent(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}