@using Innkeep.Core.Interfaces.Services
@using Innkeep.Client.WebUi.Pages.POS.Components
@using Innkeep.Client.Interfaces.Services
@inject IServerConnectionService ServerConnectionService;


<div class="sales-wrapper drop2">
    <div class="sales-title">
        Items
    </div>
    <div class="sales">
        @foreach (var item in ServerConnectionService.SalesItems)
        {
            <SalesItemButton Item="@item"/>
        }
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        ServerConnectionService.ItemUpdated += StateChangedEvent;
    }

    private void StateChangedEvent(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}