@using Innkeep.Core.Interfaces.Services
@using Innkeep.Client.WebUi.Pages.POS.Components
@using Innkeep.Client.Interfaces.Services
@inject ITransactionService TransactionService
@inject IPopupService PopupService

<div class="button-group">
    <div class="button no-select pay drop2" @onclick="Confirm">
        <div class="button-text">
            CONFIRM
        </div>
    </div>
    <div class="button no-select clear drop2" @onclick="Clear">
        <div class="button-text">
            CLEAR AMOUNT
        </div>
    </div>
    <div class="button no-select clear drop2" @onclick="Cancel">
        <div class="button-text">
            CANCEL
        </div>
    </div>
</div>

@code {
    private void Confirm()
    {
        
    }
    
    private void Clear()
    {
        TransactionService.UpdateGivenAmount(-TransactionService.AmountGiven);
    }
    

    private void Cancel()
    {
        PopupService.Close(nameof(PayPopup));
    }
}