.keypad-wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 33%;
}

.keypad-title{
    background: var(--title-color-dark);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    color: var(--background-color);
    justify-content: space-between;
}

.keypad-group{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: var(--background-color);
    flex: 1 1 auto;
}

.keypad-row{
    display: flex;
    justify-content: center;
}

.keypad-button{
    width: calc(160px + 0.5rem);
    height: 110px;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    font-size: 1.5rem;
    font-weight: bold;
}

.ok{
    background: var(--confirm-color);
    color: var(--background-color);
}

.cancel{
    background: var(--error-color);
    color: var(--background-color);
}

.amount-confirmed{
    font-weight: bold;
    color: var(--confirm-color);
}