@using Innkeep.Client.WebUi.Pages.POS.Components
@using Innkeep.Client.Services.Interfaces.Transaction
@using Innkeep.Client.Services.Interfaces.Ui
@using Innkeep.Client.Services.Interfaces.Hardware
@inject ITransactionService TransactionService
@inject IPopupService PopupService
@inject IShoppingCartService ShoppingCartService
@inject ISnackbar Snackbar
@inject IPrintService PrintService

<div class="button-group">
    <MudButton class="pay-button no-select" Color="Color.Success" Variant="Variant.Filled" @onclick="Confirm" Disabled="@ConfirmLocked" Style="width: 32%; height: 100%;">
        CONFIRM
    </MudButton>
    <MudButton class="pay-button no-select" Color="Color.Error" Variant="Variant.Filled" @onclick="Clear" Style="width: 32%; height: 100%;">
        CLEAR AMOUNT
    </MudButton>
    <MudButton class="pay-button no-select" Color="Color.Error" Variant="Variant.Filled" @onclick="Cancel" Style="width: 32%; height: 100%;">
        CANCEL
    </MudButton>
</div>

@code {

    protected override void OnInitialized()
    {
        TransactionService.TransactionUpdated += (_, _) => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }

    private bool ConfirmLocked => TransactionService.AmountGiven < TransactionService.AmountDue;

    private async void Confirm()
    {
        if (TransactionService.AmountGiven >= TransactionService.AmountDue)
            if (await TransactionService.CommitTransaction())
            {
                if (TransactionService.AmountDue != 0)
                    PrintService.Drawer();
                
                PopupService.Show(nameof(PrintPopup));
                Snackbar.Add("Transaction Completed", Severity.Success);
                Clear();
                ShoppingCartService.Clear();
                PopupService.Close(nameof(PayPopup));
                return;
            }
            else
            {
                Snackbar.Add("Transaction Failed. Check Server Logs For More Information", Severity.Error);
                return;
            }
        Snackbar.Add("Cannot confirm a transaction with invalid money.", Severity.Error);
    }

    private void Clear()
    {
        TransactionService.UpdateGivenAmount(-TransactionService.AmountGiven);
    }

    private void Cancel()
    {
        PopupService.Close(nameof(PayPopup));
    }

}